body {
  background: #00aaff;
}

/*Form sizes and positions*/
form {
  background-image: linear-gradient(to bottom right, lightgreen, blue);
  background-size: 100%;
  text-align: center;
  font-family: Verdana;
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
  z-index: 1;
  box-sizing: border-box;
  width: 700px;
  height: 30%;
  padding: 30px;
  margin-left: 27%;
}

.legend {
  font-size: 25px;
}

/*Position, sizes and colors for the button "Регистриране"*/
.smt {
  font-size: 90%;
  background-color: #99ccff;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}

/*Position, sizes and colors for the button "Изчистване"*/
.rst {
  font-size: 90%;
  background-color: #99ccff;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.itm{
  border-radius: 5px;
   box-shadow: 5px 2px #0000;
   font-size: 17px;
   border: none;
   background-color: #cccccc;
}  
