.text {
  margin-left: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 550px;
  font-size: 20px;
  padding: 10px;

}

.photos {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 557px;
  height: 447px;
  margin-top: -450px;
  margin-left: 650px;
}

.head {
  text-align: center;
}

body {
    background: #2d8659;
}

.protection {
     background: #ccffcc;
}
